form.form-example {
    display: table;
}

div.form-example {
    display: flex;
}

label, input {
    display: table-cell;
    margin-bottom: 10px;
}

label {
    padding-right: 10px;
}
.mystyle {
    border: 2px solid green;
  }
  